#wrapper(data-role='page', data-url='/game', class='initialize game')
	#header(data-role='header')
		a(href='/') BATTLE ARENA

			#nav
				a(href='/session/destroy', class='nav-logout')			
				a(href='/user/rankings', class='nav-ranking')
				a(href='/user/profile', class='nav-profile')
				a(href='/game/search', class='nav-search')
						
	#content(data-role='content')
			
		h2 Chatroom

		#chatroom  	
			.left
				div(class='tchat-container ui-input-text ui-body-c ui-corner-all ui-shadow-inset')
				input(type='text', name='send', placeholder='Text', id='tchat-input')
				a(data-role='button', data-inline='true', data-mini='true', id='tchat-send') Send
			.right
				div(class='tchat-side ui-input-text ui-body-c ui-corner-all ui-shadow-inset')