#wrapper(data-role='page', data-url='/game', class='initialize game')
	#header(data-role='header')
		a(href='/') BATTLE ARENA

			#nav
				a(href='/user/logout', class='nav-logout')			
				a(href='/user/rankings', class='nav-ranking')
				a(href='/user/profile', class='nav-profile')
				a(href='/game/search', class='nav-search')
						
	#content(data-role='content')
			
		h2 Chatroom

		!=messages()

		#chatroom  	
			.left
				div(class='tchat-container ui-input-text ui-body-c ui-corner-all ui-shadow-inset')
				input(type='text', name='send', placeholder='Text', id='tchat-input')
				a(data-role='button', data-inline='true', data-mini='true', id='tchat-send') Send
			.right
				div(class='tchat-side ui-input-text ui-body-c ui-corner-all ui-shadow-inset')

script
	var tchat_container = $('.tchat-container');
	var tchat_input = $('#tchat-input');
	var tchat_side = $('.tchat-side');
	var tchat_send = $('#tchat-send');

	var socket = io
		.connect()
		.of('/game')
		.on('connect', function() {
			
		}).on('updatechat', function(msg) {
			tchat_container.append('<div>' + msg + '</div>');
			tchat_container.animate({ 
				scrollTop: 99999 // TODO
			}, 500);
		}).on('userjoin', function(username) {
			tchat_side.append('<div>' + username + '</div>');
	});
	
	tchat_input.bind('keyup', function(key) {
		if (key.keyCode === 13) {
			key.preventDefault();
			socket.emit('message', tchat_input.val());
			tchat_input.val('');
		}
	});

	tchat_send.bind('click', function() {
		socket.emit('message', tchat_input.val());
		tchat_input.val('');
	});