#header(data-role='header')
  a(href='/') BATTLE ARENA
    #nav
      a(href='/logout', class='nav-logout')
      a(href='/rankings', class='nav-ranking')
      a(href='/profile', class='nav-profile')
      a(href='#', class='nav-search')
