#header(data-role='header')
	a(href='/') BATTLE ARENA
		#nav
			a(href='/user/logout', class='nav-logout', data-rel='dialog')
			a(href='/user/rankings', class='nav-ranking')
			a(href='/user/profile', class='nav-profile')
			a(href='#', class='nav-search')