.center {
	display: block;
	text-align: center;
}

.ui-header .ui-btn {
	font-size: 20px;
}

#header {
	height: 65px;
}

#nav {
	float: right;
}

#content {

}
#content h2 {
	text-align: center;
}

#footer {
	text-align: center;
	position: absolute;
	bottom: 0;
}

a { text-decoration: none; }
#nav a {
	display: block;
	float: right;
	margin: 15px 10px 0 10px;
}
.nav-search { 
	width: 27px;
	height: 27px;
	background: url(../images/icons/radar.png); 
}
.nav-profile { 
	width: 26px;
	height: 26px;
	background: url(../images/icons/gear.png); 
}
.nav-ranking { 
	width: 24px;
	height: 24px;
	background: url(../images/icons/trophy.png); 
}
.nav-logout { 
	width: 18px;
	height: 25px;
	background: url(../images/icons/runner.png); 
}

.ui-bar-a, 
.ui-bar-a input, 
.ui-bar-a select, 
.ui-bar-a textarea, 
.ui-bar-a button,
.ui-body-c, 
.ui-body-c input, 
.ui-body-c select, 
.ui-body-c textarea, 
.ui-body-c button,
.ui-btn-up-a, 
.ui-btn-hover-a, 
.ui-btn-down-a,
.ui-btn-up-c, 
.ui-btn-hover-c, 
.ui-btn-down-c {
	font-family: 'Lobster Two';
}

html.no-touch div.ui-btn,
html.no-touch input.ui-input-text {
	width: 300px;
	margin: 0 auto;
}

#chatroom {
	width: 80%;
	height: 300px;
	margin: 0 auto;
}
#chatroom .left {
	width: 70%;
	height: 99%;
	margin-right: 1%;
}
#chatroom .right {
	width: 29%;
	height: 99%;
}
#chatroom .left,
#chatroom .right {
	display: inline-block;
}
.tchat-container {
	width: 100%;
	height: 85%;
	float: left;
}
#tchat-input {
	margin-top: 2px;
	width: 86%;
	height: 15%;
	float: left;
	display: inline-block;
}
#tchat-send {
	margin-top: 2px;
	display: inline-block;
	width: 9%;
	height: 18%;
	float: right;
}
.tchat-side {
	float: right;
	width: 100%;
	height: 100%;
}