#wrapper(data-role='page')
	#header(data-role='header')
		a(href='/', data-direction='reverse') BATTLE ARENA
	
	#content(data-role='content')
		h2 Signup

		form(action='#', method='post', id='signup')
			input(type='email', name='user[email]', placeholder='Email', id='email')
			br
			input(type='text', name='user[login]', placeholder='Username', id='login')
			br
			input(type='password', name='user[password]', placeholder='Password', id='password')
			br
			input(type='submit', name='submit', value='Signup', class='submit')

	#footer(data-role='footer')
		p Footer
