#wrapper(data-role='page', data-url='/user/profile', class='')
	#header(data-role='header')
		a(href='/') BATTLE ARENA
			#nav
				a(href='/user/logout', class='nav-logout')			
				a(href='/user/rankings', class='nav-ranking')
				a(href='/user/profile', class='nav-profile')
				a(href='/game/search', class='nav-search')

	#content(data-role='content')
		h2 Profile

		#profile
			div.row

				div.avatar
					div
						div.level 19

				.stats
					p=character.skill_points
						span points de caractéristiques
					ul
						li 
							a(href='', title='Augmenter cette caractéristique') + 
							=character.strength
							span(class='red') Strength
						li
							a(href='', title='Augmenter cette caractéristique') + 
							=character.agility
							span(class='yellow') Agility
						li
							a(href='', title='Augmenter cette caractéristique') + 
							=character.stamina
							span(class='brown') Stamina
						li
							a(href='', title='Augmenter cette caractéristique') + 
							=character.intellect
							span(class='blue') Intellect
			
			div.row
				
				.bars
					div(class='life progress')
						div(class='bar', style='width: 100%')
							=character.hitpoints
					div(class='mana progress')
						div(class='bar', style='width: 100%')
							=character.manapoints
					div(class='xp progress')
						div(class='bar', style="width: #{character.experience}%")
							=character.experience

				.spells
					- each spell, i in character.spells
						- if (i == 3)
							span.break
						div
							img(src="/images/game/icons/#{spell.thumbnail}.png")

script
