#wrapper(data-role='page', data-url='/user/profile', class='')
	#header(data-role='header')
		a(href='/') BATTLE ARENA
			#nav
				a(href='/user/logout', class='nav-logout')			
				a(href='/user/rankings', class='nav-ranking')
				a(href='/user/profile', class='nav-profile')
				a(href='/game/search', class='nav-search')

	#content(data-role='content')
		h2 Rankings

		