#wrapper(data-role='page', data-url='/signup')
	#header(data-role='header')
		a(href='/', data-direction='reverse') BATTLE ARENA
	
	#content(data-role='content')
		h2 Signup

		!=messages()

		form(action='/user/create', method='post', id='signup')
			input(type='email', name='user[email]', placeholder='Email', id='email')
			br
			input(type='text', name='user[username]', placeholder='Username', id='username')
			br
			input(type='password', name='user[password]', placeholder='Password', id='password')
			br
			input(type='submit', name='submit', value='Signup', class='submit')

	#footer(data-role='footer', data-position='fixed')
		p Footer