doctype
html
  head
    meta(charset='utf-8')
    title= title

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href='/favicon.png')

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lobster+Two')
    link(rel='stylesheet', href='//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.simpledialog.min.css')
    link(rel='stylesheet', href='/stylesheets/add2home.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/modernizr-2.5.3.js')
    script(src='/javascripts/add2home.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='//code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js')
    script(src='//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js')
    script(src='//rawgit.com/documentcloud/underscore/master/underscore-min.js')
    script(src='/javascripts/jquery.mobile.simpledialog2.min.js')
    script(src='/javascripts/inheritance.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.js')
    script(src='/javascripts/tchat.js')
    script(src='/javascripts/game.js')
    //- script(src='/javascripts/battle-arena.js')

  body!= body
